name: CI

on:
  push:
    branches:
      - '*develop*'
      - '*master*'
  pull_request:
    branches:
      - '*develop*'
      - '*master*'

jobs:
  cross_build:
    name: cross_build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install CMake
        uses: lukka/get-cmake@v3
        with:
          cmake-version: 'latest'

      - name: Make ci.sh executable
        run: chmod +x ./ci.sh
        shell: bash

      - name: Configure, build and run tests
        run: |
          ./ci.sh
        shell: bash

      - name: Deploy (placeholder)
        run: echo "Deploy step (placeholder)"
        shell: bash
